.container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #eee;
}

.userInfo {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #4a3f60;
}

.profilePicture {
    border: 5px solid #4a3f60;
}
