.container {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0 5px;
    border-bottom: 5px solid #4527a0;
}

.userInfo {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}
