.container {
    padding: 10px 0;
    font-size: 16px;
}

.list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.list li {
    counter-increment: step-counter;
}

.list li::before {
    content: counter(step-counter, decimal-leading-zero);
    margin-right: 10px;
    font-size: .625em;
    color: #ccc;
    font-weight: bold;
}

.line {
    font-size: .925em;
}
