.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background: linear-gradient(to bottom, #4a3f60, #262132);
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
}

.links {
    display: inline-block;
    align-self: center;
}

.links > li {
    display: inline-block;
    margin: 0 5px;
}

.links > li:first-child {
    margin: 0 10px;
}

.anchorTag {
    color: #fff;
    text-decoration: none;
}

.login {
    display: inline-block;
    width: 50%;
}

.logo {
    font-size: 1.625em;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
    text-transform: uppercase;
}

.logo:hover {
    font-size: 1.7em;
}
