.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: #4a3f60;
    color: #fff;
    padding: 0 10px;
}

.links {
    display: inline-block;
    align-self: center;
}

.links > li {
    display: inline-block;
    margin: 0 5px;
}

.anchorTag {
    color: #fff;
    text-decoration: none;
}

.login {
    display: inline-block;
    width: 50%;
}

.logo {
    font-size: 18px;
}
