.container {
    display: inline-block;
    width: 100%;
}

.header {
    height: 30px;
    background-color: #4a3f60;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    padding-left: 5px;
}

.footer {
    height: 30px;
    background-color: #4527a0;
}
